html, body, nav {
    margin: auto;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    max-width: 1440px;
    padding: 0;
    padding-top: 0;
    background-color: #E4E4E4;
}
    html, body {
    min-height: 100%;
    overflow-x: hidden;

}


body {
    margin: 0;
}

/* NAV STYLES ------------------------------------------------------------------- */

nav {
    background-color: #ECF0F1;
    padding: 20px;
    height: 60px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid black;
}

nav ul {
    list-style-type: none;
    display: flex; /* This puts the `li` elements in a row */
    margin: 0;
    padding-right: 40px;
}

nav li {
    margin: 0;
    padding: 0;
}

nav li a {
    text-align: center;
    padding: 7px 12px;
    text-decoration: none;
    font-size: 1.06rem;
    color: black;
    display: block;
}
nav a:hover{
  color: #2C3E50;
  font-weight: 650;
  border: 1px solid #2C3E50;
  background-color: #E4E4E4;
}
nav a.logo:hover{
    border: none;
    color: inherit; /* Use the inherited color */
    font-weight: inherit; /* Use the inherited font weight */
    border: none; /* Remove any border */
    background-color: transparent;
    transform: scale(1.1);
}

nav .logo {
    width: 50px;
    display: block;
}

/* HERO STYLES ----------------------------------------------------------------- */

.container {
    width: 100%;
    display: flex; /* Allow centering */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center items horizontally */
}

.border-container {
    position: relative; /* Allow absolute positioning for the text */
    display: inline-block; /* Fit the size of the image */
}

.hero {
    width: 100%;
    height: auto; /* Ensure it takes the height of the image */
    position: relative; /* To position the text relative to this section */
}

.hero img {
    max-width: 100%; /* Responsive width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensures block display */
    border: 60px solid #2C3E50; /* Adjust border as needed */
    box-sizing: border-box; /* Include border in element size */
}

.hero-text {
    position: absolute; /* Positioning the text absolutely */
    top: 50%; /* Move it to the vertical center */
    left: 50%; /* Move it to the horizontal center */
    transform: translate(-50%, -50%); /* Center the text */
    text-align: center; /* Center text alignment */
    z-index: 1; /* Ensure text is above the image */
    margin: 0; /* Remove any default margins */
    line-height: 4;
}

.overlay-text {
    color: white; /* Change text color for visibility */
    margin: 0; /* Remove any default margins */
    white-space: nowrap; /* Prevent text wrapping */
    line-height: 1.4;
}

.overlay-text h1 {
    font-size: 3rem; /* Base size for h1 */
    margin: 0; /* Remove default margins */
}

.overlay-text h3 {
    margin: 0; /* Remove default margins */
    margin-top: 70px; /* Add space between h1 and h3 */
    font-size: 1.3rem; /* Set this smaller than h1 */
    font-weight: 300;
}
.view-portfolio{
    padding: 10px 20px;
    background-color: #ECF0F1;
    font-size: 0.7rem;
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    color: black;
    border: none;
    text-align: center;
    text-decoration: none; /* Removes underline */
    cursor: pointer;
} 
.view-portfolio:hover{
    background-color: #2C3E50;
    color: white;
    border: 1px solid white;
}

/* ABOUT STYLES ----------------------------------------------------------------- */

.about{
  background-color: #8C97A1;
  padding:40px;
  align-content: center;
}
.about h2{
  margin-top: 0;
  margin-bottom: 0px;
  display: flex;
  flex: 1;
  text-align: left;
  color: white;
  padding-top: 20px;
}
.about p{
  margin-top: 12px;
  text-align: left;
  font-weight: 300;
  color: white;
  padding-top: 20px;
}

.about-content{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 20px;
}
.about-text{
  flex: 1;
  text-align: left;
}
.about-buttons{
    display: flex;
    gap: 10px; /* Adds space between buttons */
}
.about-buttons a {
    padding: 10px 20px;
    background-color: #2C3E50;
    font-size: 0.7rem;
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none; /* Removes underline */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.about a{
    color: white;
    text-decoration: none;
}
.about-buttons a:hover{
    background-color: #ECF0F1; /* Change background color when hovered */
    border: 1px solid #2C3E50;
    font-weight: 700;
    color: black;

}

/* PORTFOLIO PREVIEW STYLES ----------------------------------------------------------- */


.portfolio-preview {
    text-align: center;
    margin: 0;
    background-color: #ECF0F1;

}
.portfolio-preview h2{
    margin: 0;
    padding: 40px;
}

.portfolio-container {
    display: flex;
    justify-content: space-around; /* Spread items evenly */
    flex-wrap: nowrap; /* Allows wrapping on smaller screens */
    align-content: center;
    text-decoration: none;
}
.home .portfolio-item:hover{
    border: 1px solid black;
    background-color:  #E4E4E4;
    filter: brightness(0.9);
}

.home .portfolio-item{
 margin: 10px;
 width: 400px;
 padding-bottom: 30px;

}
.portfolio-preview a{
    text-decoration: none;
    color: black;
}

.home .portfolio-item img{
    max-width: 400px;
    width: 100%; /* Adjust this to maintain responsiveness */
    height: 300px; /* Set a fixed height for consistency */
    object-fit: cover;
    background-color: #E4E4E4;
    border: 1px solid black;

}
.home .portfolio-item:hover img{
    border: 0;
}

.home .portfolio-item h3 {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 19px;
    text-decoration: none;
    padding-bottom: 30px;
}
.view-project-buttons{
    margin:  20px; /* Add space between buttons */
    padding: 10px 15px; /* Button padding */
    border: 0 solid #34495E; /* Remove border */
    background: none; /* Remove background */
    color: #2C3E50; /* Set text color */
    font-size: 1rem; /* Font size */
    cursor: pointer; /* Pointer cursor for clickable */
    font-family: inherit; /* Use the same font as surrounding text */
}

.view-project-buttons:hover {
    font-weight: 800;
    border: 1px solid black;
    background-color: #d9d9d9;
}


.view-all-container {
    text-align: center;
    margin-top: 10px;
    width: 100%; /* Make sure it spans the full width */
    padding-bottom: 40px;
}
.view-all {
    margin-right: 10px; /* Add space between buttons */
    padding: 10px 20px;
    border: 1px solid black;
    font-size: 1rem;
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    background-color: #ECF0F1;
}

.view-all:hover {
    background-color: #34495E;
    color: white;
}

/* CONTACT STYLES ----------------------------------------------------------------- */

.contact {
    background-color: #2C3E50;
    color: white;
    padding: 20px 40px;
    display: flex; /* Removed extra backslash */
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top */
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
    padding-bottom: 40px;
}

.contact h2 {
    margin: 0;
    padding: 20px 0;
    width: 100%; /* Make the h2 take full width */
    text-align: left; /* Center align the heading */
}

.contact form {
    display: flex;
    flex-direction: column;
    width: 48%; /* Form takes 48% width */
}

.contact form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact form input {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #2C3E50;
    border: 1px solid white;
}

.contact form button {
    background-color: white;
    color: #2C3E50;
    margin-right: 10px; /* Add space between buttons */
    padding: 10px 20px;
    border: none;
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    width: 40%;
}

.contact form button:hover {
    background-color: #34495E;
    color: white;
    border: 1px solid white;
}

.contact .email {
    text-align: left;
    width: 48%; /* Email section also takes 48% width */
    padding-left: 20px;
}

.contact .email img {
    width: 24px; /* Size of the email icon */
    margin-bottom: 0px;

}
.contact form textarea {
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    height: 150px; /* Adjust the height to your preference */
    resize: vertical; /* Allow users to resize vertically */
    box-sizing: border-box; /* Ensure padding is included in the width/height */
    background-color: #2C3E50;
    border: 1px solid white;
}
.contact form input, 
.contact form textarea 
 {
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;  /* Makes all elements take full width */
    box-sizing: border-box;  /* Ensure padding is included in the width */
}

/* FOOTER STYLES ----------------------------------------------------------------- */


footer {
    display: flex;
    justify-content: space-between; /* Space between logo, links, and icons */
    align-items: center; /* Vertically align items */
    flex-wrap: wrap;
    padding: 20px;
    background-color: #ECF0F1;
    position: relative;
    padding-bottom: 90px;
    border-top: 1px solid black;
    padding-top: 10px;
}

.footer-links {
    display: flex;
    justify-content: center; /* Centers the links */
    text-align: center;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-top: 30px;
}

.footer-links a{
    margin: 0 15px; /* Spacing between links */
    color: black; /* Example text color */
    text-decoration: none;
    position: relative;
    z-index: 1; /* Ensure it is on top */
}

.footer-links a:hover{
    font-weight: 700;
}
.footer-icons {
    align-items: center;
}
footer .logo{
    width: 50px;
    position: relative;
    z-index: 1;
}
footer .logo:hover{
    transform: scale(1.1);
}
.footer-icons img {
    margin-left: 10px;
    height: 24px; /* Adjust icon size as needed */
}

.footer-icons a{
    position: relative;
    z-index: 1;
    text-decoration: none;
}
.footer-icons a:hover img{
    transform: scale(1.1);
}
.copyright{
    width: 100%; /* Makes it span the full width */
    text-align: center; /* Centers the copyright text */
    position: absolute;
    left: 0;
    padding-top: 200px;
    margin: 0;
}
.footer-divider {
    width: 80%; /* Full width of the footer */
    border-top: 1px solid #ccc; /* Thin horizontal line */
    margin: 10px auto; /* Space around the line */
    text-align: center;
}

/* PORTFOLIO PAGE STYLES -------------------------------------------------------------- */

.portfolio h3{
    padding-bottom: 25px;
    padding-top: 60px;
}
.logos img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    background-color: #E4E4E4;
    border: 1px solid black;
}
.portfolio{
    text-align: center;
    background-color: #ECF0F1;
}
.portfolio a{
    text-decoration: none;
}
.posters img{
    height: 500px;
    width: 400px;
    background-color: #E4E4E4;
    border: 1px solid black;
    object-fit: scale-down;
    padding: 10px 0;
}
.posters .guardin img {
    height: 500px;
    width: 400px;
    background-color: #E4E4E4;
    border: 1px solid black;
    object-fit: cover;
} 
.album-covers img{
    width: 400px;
    height: 300px;
    background-color: #E4E4E4;
    border: 1px solid black;
    object-fit: cover;
}
.portfolio{
    color: black;
}

.portfolio .portfolio-item{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}
.portfolio .portfolio-item img:hover{
filter: brightness(0.9);
transform: scale(1.05);
}
.album-covers{
    padding-bottom: 60px;
}


/* PORTFOLIO PAGES STYLES --------------------------------------------- */

.portfolio-page{
    background-color: #ECF0F1;
    padding: 20px 40px;
}
.top-image{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.header{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 60px;
    padding-top: 20px;
}
.header h1{
    margin: 0;
}
.header p{
    margin: 0;
    max-width: 600px;
}
.mockup{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding-bottom: 40px;


}

.mockup-image{
    width: 400px;
    height: 300px;
    object-fit: cover;
    background-color: #E4E4E4;
    border: 1px solid black;
}
.related-projects {
    text-align: center;
    margin: 0;
    background-color: #ECF0F1;

}
.related-projects h2{
    margin: 0;
    padding: 40px;
}

.portfolio-container {
    display: flex;
    justify-content: space-around; /* Spread items evenly */
    flex-wrap: nowrap; /* Allows wrapping on smaller screens */
    align-content: center;
    text-decoration: none;
}
.portfolio-page .portfolio-item:hover{
    border: 1px solid black;
    background-color:  #E4E4E4;
    filter: brightness(0.9);
}

.portfolio-page .portfolio-item{
 margin: 10px;
 width: 400px;
 padding-bottom: 30px;

}
.related-projects a{
    text-decoration: none;
    color: black;
}

.portfolio-page .portfolio-item img{
    max-width: 400px;
    width: 100%; /* Adjust this to maintain responsiveness */
    height: 300px; /* Set a fixed height for consistency */
    object-fit: cover;
    background-color: #E4E4E4;
    border: 1px solid black;

}
.portfolio-page .portfolio-item:hover img{
    border: 0;
}

.portfolio-page .portfolio-item h3 {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 19px;
    text-decoration: none;
    padding-bottom: 30px;
}
.view-project-buttons{
    margin:  20px; /* Add space between buttons */
    padding: 10px 15px; /* Button padding */
    border: 0 solid #34495E; /* Remove border */
    background: none; /* Remove background */
    color: #2C3E50; /* Set text color */
    font-size: 1rem; /* Font size */
    cursor: pointer; /* Pointer cursor for clickable */
    font-family: inherit; /* Use the same font as surrounding text */
}

.view-project-buttons:hover {
    font-weight: 800;
    border: 1px solid black;
    background-color: #d9d9d9;
}
.poster-img{
    height: 600px;
    object-fit: scale-down;
}
.album-cover-img{
    width: 600px;
    justify-content: center;
    padding: 0;
}

/* Media Queries */

/* MOBILE --------------------------------------------------------------------------*/
@media screen and (max-width: 500px) {
    footer {
        display: flex;
        flex-direction: column;
        background-color: #ECF0F1;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 0;
        padding-right: 0;
    }
    .footer-links{
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }
    .copyright{
        padding-top: 230px;
    }
    .logos img, .album-covers img{
        width: 300px;
        height: 220px;
        object-fit: cover;
    }
    .posters .guardin img{
        width: 300px;
        height: 220px;
        object-fit: scale-down;
    }
        .posters img{
        width: 300px;
        height: 220px;
        object-fit: scale-down;
    }
    .portfolio-item a{
        margin: 0;
    }
    .portfolio .portfolio-item{
        margin: 0;
        margin-bottom: 20px;
    }
    .mockup img{
        width: 300px;
        height: 220px;
        object-fit: cover;
    }
    .mockup{
        align-items: center;
    }
    .portfolio-page .portfolio-item img{
        height: 200px;
    }
    .hero img{
        border: none;
    }
    
}


/* MEDIUM -------------------------------------------------------------------------*/
        @media screen and (min-width: 601px) {
             h1 {
                font-size: 40px;
            }
             h2{
                font-size: 30px;
            }
             h3 {
                font-size: 16.67px;
            }
            .hero img {
                border: 60px solid #2C3E50; /* Smaller border for smaller screens */
            }
            .about{
                padding: 30px 60px;
            }
                
            .about-content {
                flex-direction: row; /* Items in a row (default layout) */
                justify-content: space-between; /* Spread items across */
                align-items: flex-start; /* Align items to the top */
            }
            .home .portfolio-item img{
                max-width: 250px;
                width: 100%; /* Adjust this to maintain responsiveness */
                height: 150px;
                padding: 0;
                object-fit: cover;
            }
            .top-image{
                height: 400px;
            }
            .mockup-image{
                width: 350px;
                height: 300px;
            }
            
            .mockup{
                justify-content: center;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            
    }
        }
/* SMALL -----------------------------------------------------------------------*/
        @media screen and (max-width: 600px) {
             h1 {
                font-size: 30px;
            }
             h2{
                font-size: 25px;
            }
             h3{
                font-size: 12.5px;
            }
            .hero img {
                border: 40px solid #2C3E50; /* Smaller border for smaller screens */
            }
            .about{
                padding: 20px 40px;
            }
            .about-content {
                flex-direction: column; /* Stack items vertically */
                align-items: center; /* Center align on smaller screens */
            }
            .about-buttons{
                text-align: center;
            }
            .home .portfolio-item img{
                max-width: 250px;
                width: 100%; /* Adjust this to maintain responsiveness */
                height: 175px;
                object-fit: cover;
            }
            .portfolio-container{
                flex-wrap: wrap;
            }
            .contact {
        flex-direction: column; /* Stack items vertically */
        padding: 20px;
    }

    .contact form, .contact .email {
        width: 100%; /* Take full width on smaller screens */
        margin-bottom: 20px;
    }

    .contact form button {
        width: 100%; /* Full width buttons for smaller screens */
    }

    .contact h2 {
        text-align: center; /* Center heading on smaller screens */
    }

    .contact .email {
        padding-left: 0; /* Remove left padding for email section */
        text-align: center; /* Center email section content */
    }
    .mockup{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header{
        flex-direction: column;
    }
    .top-image{
        height: 300px;
    }
    .album-cover-img{
        width: 400px;
    }
    .hero img{
        border: none;
    }
}


/* BIG ---------------------------------------------------------------------*/

        @media screen and (min-width: 1000px) {
             h1 {
                font-size: 60px;
            }
             h2{
                font-size: 35px;
            }

             h3{
                font-size: 25px;
            }
            .hero img {
                border: 70px solid #2C3E50; /* Smaller border for smaller screens */
            }
            .about{
                padding: 35px 70px;
            }
              
            .about-content {
                flex-direction: row; /* Items in a row (default layout) */
                justify-content: space-between; /* Spread items across */
                align-items: flex-start; /* Align items to the top */
            }
            .home .portfolio-item img{
                max-width: 350px;
                width: 100%; /* Adjust this to maintain responsiveness */
                height: 250px;
                object-fit: cover;
            }
            .mockup-image{
                width: 430px;
                height: 330px;
            }
            
                        .mockup{
            justify-content: center;
        }
            .top-image{
                height: 600px;
            }
            .header{
    justify-content: space-between;

    }
        }
